{% extends "base.html" %}

{% block content %}
    {% with messages = get_flashed_messages() %}
        {% if messages %}
            {% for message in messages %}
                <div class="alert alert-danger" role="alert">
                    {{ message }}<br>
                </div>
            {% endfor %}
        {% endif %}
    {% endwith %}
    <div class="row">
        <div class="col-4 mt-3">
            <form action="{{ url_for('project.process_project_creation') }}" method="POST">
                {{ form.hidden_tag() }}
                <div class="mb-3">
                    {{ form.name.label }}
                    {{ form.name() }}
                </div>
                <div class="mb-3">
                    {{ form.description.label }}
                    {{ form.description() }}
                </div>
                <div class="mb-3">
                    {{ form.date_end.label }}
                    {{ form.date_end() }}
                </div>
                {{ form.submit() }}
            </form>
        </div>
        <div class="col-8"></div>
        </div>
    </div>
{% endblock %}
