<header class="p-3 text-bg-dark">
    <div class="container">
        <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">

            <ul class="nav col-12 col-lg-auto me-lg-auto mb-2 justify-content-center mb-md-0">
                <li><a href="/" class="nav-link px-2 text-white">Главная страница</a></li>
            </ul>

            <div class="text-end">
                {% if current_user.is_authenticated %}
                    {%if current_user.is_admin %}
                        <a class="btn btn-outline-light me-2" href="{{ url_for('admin.admin_index') }}" role="button">Админка</a>
                    {% endif %}
                    <a class="btn btn-outline-light me-2" href="{{ url_for('user.logout') }}" role="button">Выйти</a>
                {% else %}
                    <a class="btn btn-outline-light me-2" href="{{ url_for('user.login') }}" role="button">Войти</a>
                    <a class="btn btn-warning" href="{{ url_for('user.registration') }}" role="button">Регистрация</a>
                {% endif %}
            </div>
        </div>
    </div>
</header>
